<?xml version="1.0" encoding="utf-8" ?>
<module clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Geta.SEO.Sitemaps" />
  </assemblies>


  <dojo>
    <paths>
      <add name="seositemaps" path="ClientResources" />
    </paths>
  </dojo>
  
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
      <add dependency="Shell" type="RunAfter"/>
    </moduleDependencies>
  </clientModule>
</module>