<div class="dijitInline">
    <div>
        <span>Enabled</span>
        <input data-dojo-type="epi/shell/widget/CheckBox" data-dojo-attach-point="enabledCheckbox" data-dojo-attach-event="onChange: _enabledOnChange">
    </div>
    <div>
        <span style="margin-right: 10px;">Change frequency</span>
        <span data-dojo-attach-point="frequencySelect"></span>
    </div>
    <div>
        <span style="margin-right: 10px;">Priority</span>
        <span data-dojo-attach-point="prioritySelect"></span>
    </div>
</div>
