<div class="dijitInline">
    <div>
        <span>Enabled</span>
        <input data-dojo-type="epi/shell/widget/CheckBox" data-dojo-attach-point="enabledCheckbox" data-dojo-attach-event="onChange: _enabledOnChange">
    </div>
    <div>
        <span style="margin-right: 10px;">Change frequency</span>
        <select data-dojo-type="epi-cms/contentediting/editors/SelectionEditor" data-dojo-attach-point="frequencySelect" data-dojo-attach-event="onChange: _frequencyOnChange"></select>
    </div>
    <div>
        <span style="margin-right: 10px;">Priority</span>
        <select data-dojo-type="epi-cms/contentediting/editors/SelectionEditor" data-dojo-attach-point="prioritySelect" data-dojo-attach-event="onChange: _priorityOnChange"></select>
    </div>
</div>